<ngx-spinner
  bdColor="rgba(255,255,255)"
  size="medium"
  color="#FF7F00"
  type="ball-pulse-rise">
 <span><img src="../../../content/images/icons8-trabalho-permanente-100.png"></span>
 <p style="font-size: 30px; color: #3F51B5; line-height: 12px;">Aguarde...</p>
</ngx-spinner>
<jhi-page-ribbon></jhi-page-ribbon>
<!-- <div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div class="container-fluid">
    <div class="card jh-card">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </div>
    <jhi-footer></jhi-footer>
</div> -->
<sidebar></sidebar>
