
/* ==========================================================================
Navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

.jh-navbar {
    background-color: #353d47;
    padding: .2em 1em;
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
        background-color: #353d47;
    }
    .dropdown-toggle::after {
        margin-left: 0.15em;
    }
    ul.navbar-nav {
        padding: 0.5em;
        .nav-item {
            margin-left: 1.5rem;
        }
    }
    a.nav-link {
        font-weight: 400;
    }
    .jh-navbar-toggler {
        color: #ccc;
        font-size: 1.5em;
        padding: 10px;
        &:hover {
            color: #fff;
        }
    }
}

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

// @media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
// }

.navbar-title {
    display: inline-block;
    vertical-align: middle;
    color: #FFFFFF;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand {
    &.logo {
        padding: 5px 15px 0px 25px;
        .logo-img {
            height: 45px;
            width: 70px;
            display: inline-block;
            vertical-align: middle;
            background: url("../../../content/images/icons8-trabalho-permanente-48.png") no-repeat center center;
            background-size: contain;
        }
    }
}

/* ==========================================================================
Sidenav Material
========================================================================== */
.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .bem-vindo{
    color: #FF4081;
    font-size: 16px;
    margin-top: 1.0rem;
  }

  .icon-bem-vindo{
        color: #82C761;

    }

  .bem-vindo-title{
    color: #fff;
  }

  .fa-color{
    color: #82C761;
  }

  .fa-padding-right{
    padding-right: 2px;
  }

@media screen and (max-device-width: 640px) {
    .bem-vindo,
    .icon-bem-vindo,
    .bem-vindo-title  {
        display:none;
    }

}

@media screen and (max-device-width: 640px) {

    #versao{
       display:none;
    }
}
