<div>
    <h2 id="page-heading">
        <span jhiTranslate="visitantesappApp.partido.home.title">Partidos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-partido" [routerLink]="['/partido/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="visitantesappApp.partido.home.createLabel">
            Create new Partido
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="partidos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="visitantesappApp.partido.nomePartido">Nome Partido</span></th>
            <th><span jhiTranslate="visitantesappApp.partido.siglaPartido">Sigla Partido</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let partido of partidos ;trackBy: trackId">
                <td><a [routerLink]="['/partido', partido.id, 'view' ]">{{partido.id}}</a></td>
                <td>{{partido.nomePartido}}</td>
                <td>{{partido.siglaPartido}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/partido', partido.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/partido', partido.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'partido/'+ partido.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
