<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="partido">
            <h2><span jhiTranslate="visitantesappApp.partido.detail.title">Partido</span> {{partido.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="visitantesappApp.partido.nomePartido">Nome Partido</span></dt>
                <dd>
                    <span>{{partido.nomePartido}}</span>
                </dd>
                <dt><span jhiTranslate="visitantesappApp.partido.siglaPartido">Sigla Partido</span></dt>
                <dd>
                    <span>{{partido.siglaPartido}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/partido', partido.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
