<!-- <div class="modal-header">
    <h4 class="modal-title" jhiTranslate="login.title">Sign in</h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>
        <div class="col-md-8">
            <form class="form" role="form" (ngSubmit)="login()">
                <div class="form-group">
                    <label class="username-label" for="username" jhiTranslate="global.form.username">Login</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="{{'global.form.username.placeholder' | translate}}"
                    [(ngModel)]="username">
                </div>
                <div class="form-group">
                    <label for="password" jhiTranslate="login.form.password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                           [(ngModel)]="password">
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="rememberMe">
                        <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe" checked>
                        <span jhiTranslate="login.form.rememberme">Remember me</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary" jhiTranslate="login.form.button">Sign in</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <a class="alert-link" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">Did you forget your password?</a>
            </div>
            <div class="alert alert-warning">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="alert-link" (click)="register()" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>
    </div>
</div>
 -->

 <div class="scroll-off">
    <div class="modal-header">
        <span class="logo-img2">
        <h4 class="title-login" jhiTranslate="login.title">Sign in</h4></span>
        <!--<a class="close-button"><mat-icon (click)="closeDialog()">close</mat-icon></a>-->
    </div>
    <!--<mat-divider></mat-divider>-->



    <!--<div class="alert alert-danger animated fadeIn" *ngIf="authenticationError" jhiTranslate="login.messages.error.username">-->
    <!--<strong>Failed to sign in!</strong> Please check your credentials and try again.-->
    <!--</div>-->
    <div class="padding-20 scroll-off">
        <div class="alert alert-danger alert-font scroll-off" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication">
            <strong>Failed to sign in!</strong> Please check your credentials and try again.
        </div>
        <mat-dialog-content class="scroll-off row justify-content-center" >
            <!-- <mat-form-field  appearance="outline" class="full-width">
                <mat-label style="color:#808b96; font-size: 20px;"><mat-icon matSuffix style="color:#808b96  ;"><i class="fas fa-user"></i></mat-icon></mat-label>
                <input matInput placeholder="Usuário" [(ngModel)]="username"> -->
                <!--<mat-icon matSuffix style="color:#808b96; font-size: 14px;"><i class="fas fa-user"></i></mat-icon>-->
            <!-- </mat-form-field> -->

            <!-- <mat-form-field appearance="outline" class="">
                <mat-label style="color:#808b96; font-size: 20px;"></mat-label>
                <input matInput placeholder="Senha" [(ngModel)]="password" type="password">
                <mat-icon matSuffix style="color:#808b96; font-size:14px;">looks</mat-icon>
            </mat-form-field>
 -->
            <mat-form-field appearance="outline">
                <mat-label style="color:#808b96;">Usuário</mat-label>
                <input matInput placeholder="Digite o usuário" [(ngModel)]="username">
                <mat-icon matSuffix><i class="fa fa-user" style="color: #3F51B5; opacity: 0.6" aria-hidden="true"></mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label style="color:#808b96;">Senha</mat-label>
                <input matInput placeholder="Digite a senha" [(ngModel)]="password" type="password">
                <mat-icon matSuffix><i class="fa fa-key" style="color: #3F51B5; opacity: 0.6" aria-hidden="true"></mat-icon>
            </mat-form-field>

        </mat-dialog-content>
        <div class="row  padding-10">
            <div class="col-md-6">
                <!--<mat-radio-button class="full-width margin-top-login" type="radio" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe" >-->
                    <mat-checkbox class="full-width margin-top-login" type="checkbox"  [(ngModel)]="rememberMe"></mat-checkbox>
                    <span jhiTranslate="login.form.rememberme">Remember me</span>
                <!--</mat-radio-button>-->
            </div>
            <div class="col-md-6">
                <div class="alert alert-warning alert-link-senha text-center">
                    <a class="alert-link " (click)="requestResetPassword()" jhiTranslate="login.password.forgot">Did you forget your password?</a>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12 ">
            <!--<mat-checkbox [(ngModel)]="rememberMe">Lembrar-me</mat-checkbox>-->
                <mat-dialog-actions>
                    <button mat-raised-button  color="primary" class="full-width-button-login" (click)="login()">
                         <mat-icon style="padding-bottom: 2rem;">
                           <i class="fas fa-sign-in-alt icon-material-padding-bottom" aria-hidden="true"></i>
                        </mat-icon>
                    </button>
                </mat-dialog-actions>
            </div>
        </div>
    </div>

</div>
 